/* app css stylesheet */

 body{
  background-image: url("img/grenoble.jpg");
} 

div.formDiv{
  width: 700px;
  border: solid 3px black;
  border-radius: 20px;
  text-align: center;
  margin-left: auto ;
  margin-right: auto;
}

